.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 70vh; 
    width: 140vh;
    margin-left: 35vh;
    margin-top: 35px;
}

.pink-outline-btn {
    color: #f50057;            
    border-color:  rgb(240, 203, 238);      
    background-color: rgb(240, 203, 238);  
}

.btn{
    margin-left: 10vh;

  font-size: medium;
}


